In [1]:
import pandas as pd

In [2]:
tax_section_data = pd.read_csv("/content/tax_section_classification_data.csv")

In [3]:
tax_section_data

,TAX_SAVING_FD,AGE_GTE_60,EPF_VPF_CONTRIBUTION,TUTION_FEE_2_CHILDREN,INTEREST_ON_SAVINGS_ACCOUNT_BELOW_10K,NPS_CONTRIBUTION,PPF,DISABILITY_STATUS,SPECIFIC_ILLNESS,LIFE_INSURANCE_PREMIUM,...,80D,80DD,80DDB,80E,80EE,80EEA,80TTB,80TTA,80CCD,80C
0,0,0,0,0,0,0,0,1,0,0,...,1,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,...,1,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
6,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
7,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
8,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9,0,0,0,1,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
10,1,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
11,1,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1

In [5]:
!pip install scikit-multilearn

Collecting scikit-multilearn
  Downloading scikit_multilearn-0.2.0-py3-none-any.whl (89 kB)
     |████████████████████████████████| 89 kB 3.8 MB/s
Installing collected packages: scikit-multilearn
Successfully installed scikit-multilearn-0.2.0

In [6]:
from sklearn.model_selection import train_test_split
from skmultilearn.adapt import MLkNN

In [13]:
X = tax_section_data[['TAX_SAVING_FD', 'AGE_GTE_60', 'EPF_VPF_CONTRIBUTION',
       'TUTION_FEE_2_CHILDREN', 'INTEREST_ON_SAVINGS_ACCOUNT_BELOW_10K',
       'NPS_CONTRIBUTION', 'PPF', 'DISABILITY_STATUS', 'SPECIFIC_ILLNESS',
       'LIFE_INSURANCE_PREMIUM', 'EDUCATION_LOAN',
       'EDUCATION_LOAN_PERIOD_LTE_8', 'PROPERTY_LOAN', 'FIRST_PROPERTY',
       'MEDICAL_EXPENSE']]
Y = tax_section_data[['80D', '80DD', '80DDB', '80E', '80EE', '80EEA',
       '80TTB', '80TTA', '80CCD', '80C']]

In [14]:
X

,TAX_SAVING_FD,AGE_GTE_60,EPF_VPF_CONTRIBUTION,TUTION_FEE_2_CHILDREN,INTEREST_ON_SAVINGS_ACCOUNT_BELOW_10K,NPS_CONTRIBUTION,PPF,DISABILITY_STATUS,SPECIFIC_ILLNESS,LIFE_INSURANCE_PREMIUM,EDUCATION_LOAN,EDUCATION_LOAN_PERIOD_LTE_8,PROPERTY_LOAN,FIRST_PROPERTY,MEDICAL_EXPENSE
0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
5,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0
6,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
9,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0
10,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0
11,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.30, random_state=42)

In [34]:
# using binary relevance
from skmultilearn.problem_transform import BinaryRelevance
from sklearn.naive_bayes import GaussianNB

# initialize binary relevance multi-label classifier
# with a gaussian naive bayes base classifier
classifier = BinaryRelevance(GaussianNB())

# train
classifier.fit(X_train, y_train)

# predict
# predictions = classifier.predict(X_test)

BinaryRelevance(classifier=GaussianNB(), require_dense=[True, True])

In [35]:
predictions = classifier.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but GaussianNB was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but GaussianNB was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but GaussianNB was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but GaussianNB was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but GaussianNB was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but GaussianNB was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but GaussianNB was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but GaussianNB was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but GaussianNB was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but GaussianNB was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [26]:
X_test

,TAX_SAVING_FD,AGE_GTE_60,EPF_VPF_CONTRIBUTION,TUTION_FEE_2_CHILDREN,INTEREST_ON_SAVINGS_ACCOUNT_BELOW_10K,NPS_CONTRIBUTION,PPF,DISABILITY_STATUS,SPECIFIC_ILLNESS,LIFE_INSURANCE_PREMIUM,EDUCATION_LOAN,EDUCATION_LOAN_PERIOD_LTE_8,PROPERTY_LOAN,FIRST_PROPERTY,MEDICAL_EXPENSE
10,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0
9,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0
0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1
8,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0

In [30]:
y_test

    80D  80DD  80DDB  80E  80EE  80EEA  80TTB  80TTA  80CCD  80C
10    0     0      0    0     0      0      0      0      0    1
9     0     0      0    0     0      0      0      0      0    1
0     1     1      0    0     0      0      0      0      0    0
8     0     0      0    0     0      0      0      0      1    0

In [27]:
predictions.toarray()

array([[1, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0]], dtype=int64)

In [28]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,predictions)

0.0

In [29]:
from skmultilearn.problem_transform import ClassifierChain
from sklearn.naive_bayes import GaussianNB

# initialize classifier chains multi-label classifier
# with a gaussian naive bayes base classifier
classifier = ClassifierChain(GaussianNB())

# train
classifier.fit(X_train, y_train)

# predict
predictions = classifier.predict(X_test)

accuracy_score(y_test,predictions)

0.0

In [37]:
type(X_test)

pandas.core.frame.DataFrame

In [32]:
predictions.toarray()

array([[1, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [36]:
import joblib
filename = 'finalized_model.sav'
joblib.dump(classifier, filename)

['finalized_model.sav']

In [38]:
data  = np.array([[0,0, 0, 0,0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1]])
pred = classifier.predict(data)

In [39]:
pred

<1x10 sparse matrix of type '<class 'numpy.longlong'>'
	with 1 stored elements in Compressed Sparse Column format>